body, a {
    background-color: var(--robot-blue);
    color: var(--off-white);
}

h2 {
    font-size: 3rem;
    font-style: italic;
    font-weight: normal;
}

h2, p {
    width: 100%; max-width: 32rem;
    margin: auto;
}

.about-blurb { 
    /* section id doesn't work for some reason? */
    margin-top: 50vh;
}