body, a {
    background-color: var(--off-black);
    color: var(--off-white);
}

.bid-history-chat {
    border-color: white;
}

.flex-container {
    width: 20rem;
    max-width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    align-content: flex-start; */
}

.flex-child {

}

img {
    width: 24rem;
    max-width: 100%;
    height: auto;
}